version: '3.8'

services:
  mongodb:
    image: mongo:8
    container_name: mongodb-local-dev
    ports:
      - "27017:27017"
    command: >
      bash -c 'mongod --replSet rs0 --bind_ip_all &
               sleep 5 &&
               mongosh --eval "try {rs.status()} catch(err) {rs.initiate({_id: \"rs0\", members:[{_id:0, host:\"localhost:27017\"}]})}" &&
               wait'
